@model IEnumerable<LibraryManagementSystem.Models.Reservation>

@{
    ViewData["Title"] = "List";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
    TempData["Success"] = null;
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
    TempData["Error"] = null;
}

<h1>Active Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ReservationDate)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationEndDate)</th>
            <th>@Html.DisplayNameFor(model => model.Book)</th>
            <th>@Html.DisplayNameFor(model => model.User)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ReservationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ReservationEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
                <td>
                    <form asp-action="Lease" method="get">
                        <input type="hidden" name="reservationId" value="@item.ReservationId" />
                        <button type="submit" class="btn btn-primary">Lease</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
