<h2>Manage Books</h2>


@{
    ViewData["Title"] = "ManageBooks";
}


@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
    TempData["Success"] = null;
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
    TempData["Error"] = null;
}

<a asp-controller="Books" asp-action="AddBook" class="btn btn-primary">
    <i class="bi bi-plus"></i> Add Book
</a>

@foreach (var book in Model)
{
    <div class="book-item">
        <h4>@book.Name</h4>
        <p>@book.Author</p>
        <p>@book.Publisher</p>
        <p>@book.DateOfPublication?.ToShortDateString()</p>


        <a href="@Url.Action("EditBook", "Books", new { id = book.BookId })" class="btn btn-warning">Edit</a>
        @if (!book.IsPermanentlyUnavailable)
        {
            <a href="@Url.Action("DeleteBook", "Books", new { id = book.BookId })" class="btn btn-danger">Delete</a>
        }
        else
        {
            <p>Book permanently unavailable</p>
        }

    </div>
}
